
<div id="flex-containter">
<div class="scroll-bar">
    <p>a;dfhslj</p>
    </div>
    <div id="athlete-info">
<img src="{{images}}" alt="homPage-image" id= "hom-page-img">
<h3>{{athlete.Name}}</h3>
<p>Sex : {{athlete.Sex}}
    
</p>
<p>Age: {{athlete.Age}}</p>
<p>Height: {{athlete.Height}}</p>
<p>Weight: {{athlete.Weight}}</p>
<p>Team: {{athlete.Team}}</p>
<p>Games: {{athlete.Games}}</p>
<p>Year: {{athlete.Year}}</p>
<p>Season: {{athlete.Season}}</p>
<p>City: {{athlete.City}}</p>
<p>Sport: {{athlete.Sport}}</p>
<p>Event: {{athlete.Event}}</p>
<p>Medal: {{athlete.Medal}}</p>

</div>


<div id="filter">
<p>lkasjdf

</p>
</div>
    
</div>

    